<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h1>FOLLOWERS</h1>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                 <div class="column is-4">
                    <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
                        <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>
                    </figure>
                  </div>
                 <td class="is-size-4">
                    <strong><%= user.username%></strong>
                  </td>
                <% end %>
              </td>
            <td>
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                  <p><%= button_to "フォロー済み", user_relationships_path(user.id), class:"button is-success", method: :delete %></p>
              <% else %>
                  <p><%= button_to 'フォローする', user_relationships_path(user.id),  class:"button is-success",method: :post %></p>
                <% end %>
              <% end %>
            <% end %>
            
            </td>  
          </tr>            
        </tbody>
      </table>
    </div>
  </div>
</div>