<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        プログラマー一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %>
                  <% end %>
                </figure>
              </div>
            </div>
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                    <p><%= button_to 'フォロー済み', user_relationships_path(user.id),class:"button is-success",method: :delete %></p>
                      <% else %>
                    <p><%= button_to "フォローする", user_relationships_path(user.id), class:"button is-success",method: :post %></p>
                  <% end %>
              <% end %>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.username, user_path(user) %></div>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.products.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>